/* src/App.css */
.app-container {
  text-align: center;
  padding: 20px;
}

.greeting {
  font-size: 20px;
  margin-bottom: 10px;
}

.ip-address {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.random-button {
  background-color: #61dafb;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.random-number {
  font-size: 18px;
  margin-top: 10px;
}
